{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<h2>Profile of {{request.user.username}}</h2>
<hr>
<div>
    <b>Login</b>: {{request.user.username}} <br>
    <b>Name</b>: {{request.user.first_name}} <br>
    <b>Last name</b>: {{request.user.last_name}} <br>
    <b>email</b>: {{request.user.email}} <br>
</div>
<hr>
<button> <a href="../edit_profile/">Change data</a> </button>
<button> <a href="../change_password/">Change password</a> </button>
<button> <a href="../logout/">Log out</a> </button>
{% endblock %}